<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shift_type %>
    <%= form.text_field :shift_type %>
  </div>

  <div class="field">
    <%= form.label :late_start %>
    <%= form.check_box :late_start %>
  </div>

  <div class="field">
    <%= form.label :clean_start %>
    <%= form.check_box :clean_start %>
  </div>

  <div class="field">
    <%= form.label :port_call_id %>
    <%= form.text_field :port_call_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
