<%= form_with(model: port_call, local: true) do |form| %>
  <% if port_call.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(port_call.errors.count, "error") %> prohibited this port_call from being saved:</h2>

      <ul>
      <% port_call.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :terminal_id, value: current_user.terminal_id %>
  </div>

  <div class="field">
    <%= form.label :voyage_id %>

    <%= form.select 'voyage_id', options_for_select(@voyage.collect{ |v| [v.vessel.name + " " +v.number, v.id] })%>
  </div>

  <div class="field">
    <%= form.label :eta %>
    <%= form.datetime_select :eta %>
  </div>

  <div class="field">
    <%= form.label :first_line %>
    <%= form.datetime_select :first_line %>
  </div>

  <div class="field">
    <%= form.label :atd %>
    <%= form.datetime_select :atd %>
  </div>

  <div class="field">
    <%= form.label :last_line %>
    <%= form.datetime_select :last_line %>
  </div>

  <div class="field">
    <%= form.label :first_container %>
    <%= form.datetime_select :first_container %>
  </div>

  <div class="field">
    <%= form.label :last_contaienr %>
    <%= form.datetime_select :last_contaienr %>
  </div>

  <div class="field">
    <%= form.label :first_reefer %>
    <%= form.datetime_select :first_reefer %>
  </div>

  <div class="field">
    <%= form.label :last_reefer %>
    <%= form.datetime_select :last_reefer %>
  </div>

  <div class="field">
    <%= form.label :total_discharge %>
    <%= form.number_field :total_discharge %>
  </div>

  <div class="field">
    <%= form.label :total_load %>
    <%= form.number_field :total_load %>
  </div>

  <div class="field">
    <%= form.label :total_rehandle %>
    <%= form.number_field :total_rehandle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
