<p id="notice"><%= notice %></p>

<h1>Port Calls</h1>

<table>
  <thead>
    <tr>
      <th>Terminal</th>
      <th>Voyage</th>
      <th>Eta</th>
      <th>First line</th>
      <th>Atd</th>
      <th>Last line</th>
      <th>First container</th>
      <th>Last contaienr</th>
      <th>First reefer</th>
      <th>Last reefer</th>
      <th>Total discharge</th>
      <th>Total load</th>
      <th>Total rehandle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @port_calls.each do |port_call| %>
      <tr>
        <td><%= port_call.terminal %></td>
        <td><%= port_call.voyage %></td>
        <td><%= port_call.eta %></td>
        <td><%= port_call.first_line %></td>
        <td><%= port_call.atd %></td>
        <td><%= port_call.last_line %></td>
        <td><%= port_call.first_container %></td>
        <td><%= port_call.last_contaienr %></td>
        <td><%= port_call.first_reefer %></td>
        <td><%= port_call.last_reefer %></td>
        <td><%= port_call.total_discharge %></td>
        <td><%= port_call.total_load %></td>
        <td><%= port_call.total_rehandle %></td>
        <td><%= link_to 'Show', port_call %></td>
        <td><%= link_to 'Edit', edit_port_call_path(port_call) %></td>
        <td><%= link_to 'Destroy', port_call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Port Call', new_port_call_path %>
